.Message {
    display: flex;
    align-items: center;
}

.author {
    color: cyan;
    text-shadow: 0px 0px 5px greenyellow;
    font-size: 25px;
    margin: 0;
}

.authorMessage {
    margin-left: 20px;
    font-size: 20px;
    color: blueviolet;
    text-shadow: 0px 0px 20px black;
    font-weight: 600;
}